<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bobin's Blogs</title>
</head>
<body>
    <header>
        <h1><a href="/"/>Babin's Blogs</a></h1>
    </header>
    <article>
        <time>published: 15.11.2021, 15:11</time>
        <h2><a href="/">My first post</a></h2>
        <p>
            I love to live my life with all dignity, loving all and being loved and respected by all. That is all I want and I see nothing worng in wanting it to be so.
        </p>
    </article> 
    <article>
        <time>published: 15.11.2021, 15:30</time>
        <h2><a href="/">My second post</a></h2>
        <p>
            This is the world of competition so we need to sharpen our skill every day so that we be at the top to be able to survive this competion otherwise we will wean away and no one would even know.
        </p>
    </article> 
</body>
</html>